.dashboard-title {
    font-weight: 500;
}

a, .footer-text {
    font-weight: 100;
    font-size: small;
}

.card-value {
    font-weight: 200;
    font-size: 22px;
}

.custom-badge {
    padding: 5px;
    text-align: center;
    border-radius: 15px;
}

.sidenav-logo {
    padding-top: 18px;
}

.arrow-drop {
    margin-left: 10px;
}